.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.mainSection{
    background-color: #121212;
    color:#FFFFFF;
}